@use '../../abstracts/' as *;

.mainLayout {
    @include flex(column, space-between);
    @include spacing();

    padding: 16px;
    
    width: 100%;
    height: 100lvh;

    .header {
        @include flex(column);

        width: 100%;
    }
}