@use '../../abstracts/' as *;


.footer {
    @include flex(column);
    @include spacing();

    gap: 30px;

    flex-wrap: wrap;

    margin-top: 80px;

    .aboutUsAndContact {
        @include flex(row, space-between, start);

        flex-wrap: wrap;   

        width: 100%;
        max-width: 1293px;

        .aboutUs {
            @include flex(column);  

            gap: 10px;
            
            width: 300px;

            img {
                width: 200px;
            }
            
            p {
                font-size: 12px;
                text-align: center;
            }
        }
        .contact {
            @include flex(column);  

            width: 300px;

            p {
                color: #D1603D;
            }
        }

        .iconContainer {
            @include flex(row, space-between, center);


            gap: 20px;

            .icon {
                transition: all 0.2s ease-in-out;
                cursor: pointer;
            }

            .icon:hover {
                opacity: 0.8;
                transform: scale(1.1);
            }
        }
    }

}

@media (max-width: 678px) {
    
      
    .footer .aboutUsAndContact{
        .aboutUs, .contact {
            width: 100%;
        }
    }   
        
}