@use '../../abstracts/' as *;

.input {
    @include flex();
    @include border();

    gap: 5px;

    height: 40px;

    padding: 0 10px;

    box-sizing: border-box;

    display: none;

    width: 100%;

    .formSearch {
        @include flex();

        gap: 5px;

        width: 100%;

        input {
            width: 100%;
    
            border: 0;
        }
        input:focus {
            outline: 0;
        }
    
        button {
            border: none;
    
            background-color: #d1d1d100;
    
            padding: 0;
    
            cursor: pointer;
    
            transition: opacity 0.2s;
        }
    
        button:hover {
            opacity: 0.8;
        }
    
        .icon {
            fill: black;
        }
    }
 
}

@media (max-width: 768px) {
    .input {
        display: flex;
    }
}