@use './color' as *;

@mixin flex( $direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;

    justify-content: $justify;
    align-items: $align;
}

@mixin spacing() {
    width: 100%;

    // padding: 16px;
    margin: 0;
}

@mixin border-top($margin-top: 30px) {
    border-top: 1px solid #D1D1D1;
    padding-top: 16px;
    margin-top: $margin-top;
}

@mixin border() {
    border: 1px solid $light-grey;
    border-radius: 5px;
}

@mixin card() {
    @include flex(column);
    @include border();
    
    width: 300px;

    padding: 16px;
}