@use '../../abstracts/' as *;


.home {
    @include flex(column);
    @include spacing();

    gap: 10px;

    .containerImg {
        @include flex();

        width: 100%;

        margin-top: 30px;

        img {
            min-width: 300px;
            width: 100%;
            max-width: 1293px;
            
    
        }
    }
    
    .width {
        max-width: 1300px;

        margin: auto;
    }
}
