@use '../abstracts/' as *;

.bag {
    @include flex(column);

    position: absolute;

    height: 100%;
    width: 0;

    top: 0;

    .totalContainer {
        @include flex(column);
        @include border-top();

        margin-top: 20px;

        gap: 10px;

        width: 100%;

        .total {
            @include flex(row, space-between);
    
            width: 100%;

            p {
                font-size: 20px;
                font-weight: 700;
            }

            p:first-child {
                color: grey;
                
            }
        }

        button {
            width: 100%;

            background-color: #D1603D;
            color: white;

            border: none;

            border-radius: 5px;

            font-size: 20px;
            font-weight: 700;
        }
    }

    .containerHeadAndCard {
        width: 100%;
    }

    .header {
        @include flex(row, space-between);

        width: 100%;

        gap: 30px;

        .bagQuantity {
            @include flex(column, center, start);
            
            p {
                margin: 0;

                text-align: start;
            }
            p:first-child {
                font-size: 20px;
                font-weight: 700;
            }

            .pharagraph {
                @include flex(row, start);
                
                gap: 5px;

                p:first-child {
                    font-weight: 600;

                    color: #D1603D;
                }
            }
        }

        
    }

}

.bag-content {
    @include flex(column, space-between);

    position: fixed;

    padding: 16px;

    top: 0;
    right: -400px;

    width: 400px;
    height: 100%;

    background-color: white;

    transition: right 0.4s ease-in-out;

    z-index: 3;

    overflow: auto;
}

.show {
    right: 0;
}

.bg-grey {
    position: fixed;

    width: 0vw;
    height: 100vh;

    background-color: #0000004f;

    top: 0;
    right: 0;
    
    z-index: 2;

    opacity: 0;
}

.show-bg {
    width: 100vw;

    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}

@media (max-width: 400px) {
    .bag-content {
        width: 100%;
    }
    .bg-grey {
        display: none;
    }
}