@use '../abstracts/' as *;

.cardContainer {
    @include flex();

    width: 100%;

    gap: 10px;

    flex-wrap: wrap;

    .card {
        @include flex(column);

        
        width: 165px;
        height: 310px;
    
        padding: 16px;
    
        box-sizing: border-box;
    
        border-radius: 5px;
    
        transition: all 0.2s ease-in-out;
    
        cursor: pointer;
    
        .widthContainer {
            width: 100%;
        }
        .imgContainer {
            width: 100%;
            height: 152px;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                
            }
        }
    
        .price {
            width: 100%;
            color: green;
        }

        .title {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    
    .card:hover {
        transform: scale(1.02);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15), 
        0px 2px 5px rgba(0, 0, 0, 0.1);

        .title {
            max-height: 62px;
            
            max-width: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: wrap;
        }
    }
}
