@use '../abstracts/' as *;

.cardBag {
    width: 100%;

    div:first-child {
        border-top: none;

        padding-top: 0;
    }

    .cardBagItem {
        @include flex(row, center, start);
        @include border-top();

        .removeItem {
            
            button {
                border: none;
                
                opacity: .7;
            }

        }
    }
    .imgContainer {
        width: 50%;

        img {
            width: 100%;
        }
    }

    .titleAndPrice {

        p:first-child {
            color: black;
        }

        .price {
            color: $orange-color;
        }
    }
}