@use '../abstracts/' as *;


.footer {
    @include flex(column);

    gap: 30px;

    flex-wrap: wrap;
    width: 100%;

    

    .aboutUsAndContact {
        @include flex(row, space-between, start);

        flex-wrap: wrap;   

        width: 100%;

        .aboutUs {
            @include flex(column);  

            gap: 10px;
            
            width: 300px;
            
            p {
                font-size: 12px;
                text-align: center;
            }
        }
        .contact {
            p {
                color: #D1603D;
            }
        }

        .iconContainer {
            @include flex(row, space-between, center);


            gap: 20px;

            .icon {
                transition: all 0.2s ease-in-out;
                cursor: pointer;
            }

            .icon:hover {
                opacity: 0.8;
                transform: scale(1.1);
            }
        }
    }

    .developmentContainer {
        @include flex(column);

        
        width: 100%;
        
        .development {
            @include flex(row, space-between);

            width: 100%;
        }
    }

}

@media (min-width: 768px) {
    .aboutUs {
        width: 100%;
    }

}