.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    width: 100%;

    

    .aboutUsAndContact {
        display: flex;
        justify-content: space-around;
        align-items: start;

        flex-wrap: wrap;   

        width: 100%;

        .aboutUs {
            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 10px;
            
            width: 300px;
            
            p {
                font-size: 12px;
                text-align: center;
            }
        }

        .iconContainer {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .icon {
                
            }
        }
    }

}

@media (min-width: 768px) {
    .aboutUs {
        width: 100%;
    }

}