.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    

    .aboutUsAndContact {
        display: flex;
        justify-content: center;
        

        width: 100%;

        .aboutUs {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: clamp(375px, 100%, 500px);
            
            p {
                font-size: 12px;
                text-align: center;
            }
        }
    }

}