.navbar {
    display: flex;
    
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;
    max-width: 1293px;
    width: 100%;

    

    ul {
        display: flex;
        align-items: center;

        gap: 31px ;

        height: 100%;

        margin: 0;

        li {
            list-style: none;
        }
    }

    .icon {
        fill: black;
    }

    .links {
        display: flex;
        align-items: center;

        justify-content: space-between;
    }

    .input {
        display: flex;
    }
}

@media (max-width: 768px) { 
    .navbar {
        .input {
            display: none;
        }
    }
}