@use '../abstracts/' as *;

.navbar {
    @include flex(row, space-between);

    margin-bottom: 10px;
    max-width: 1293px;
    width: 100%;

    ul {
        @include flex();

        gap: 31px ;

        height: 100%;

        margin: 0;

        li {
            list-style: none;

            button {
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }

    .icon {
        fill: black;
    }
    .icon:hover {
        opacity: 0.8;
    }

    .links {
        @include flex(row, space-between);

        .bagUnity {
            @include flex();

            border-radius: 20px;

            width: 20px;
            height: 20px;

            z-index: 2;

            background-color: #D1603D;

            transform: translate(19px, 10px);

            p {
                color: white;
                font-size: 12px;
            }
        }
    }

    .input {
        display: flex;
    }
}

@media (max-width: 768px) { 
    .navbar {
        .input {
            display: none;
        }
    }
}