@use '../abstracts/' as *;

.product {
    @include flex(column);
    @include spacing();

    img {
        width: 50%;
    }
}

.productContainer {
    @include flex();

    .addBag {
        @include flex();

        gap: 5px;
        input {
            width: 40px;
        }
    }

   
}