@use '../../abstracts/' as *;

.forgotPassword {
    @include flex(column);

    width: 100%;
    height: 100lvh;

    .forgotPasswordContainer {
        @include card();

        p {
            font-size: 0.625rem;
        }

        .errorEmail {
            @include flex();

            height: 10px;
            width: 100%;

            p {
                color: $red-color;
            }
        }

        .button {
            margin-top: 20px;
        }

        .backToLogin {
            margin-top: 20px;

            p {
                font-weight: 900;

                opacity: 1;

                cursor: pointer;

                transition: opacity 0.2s ease-in-out;
            }

            p:hover {
                opacity: 0.9;
            }
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

}