@use '../../abstracts/' as *;

.singIn {
    @include flex(column);
    
    width: 100%;
    height: 100lvh;

    .singInContainer {
        @include card();

        p {
            font-size: 0.625rem;
        }

        h1 {
            font-size: 16px;
            font-weight: bold;
        }
    
        .errorLogin {
            @include flex();
    
            height: 10px;
            width: 100%;
            p {
                color: $red-color;
            }
        }
    
        .forgot {
            @include flex(row, end, center);
    
            width: 100%;
            margin: 10px 0 20px;
            padding: 0;
    
            border: none;
    
            p {
                margin: 0;
    
                cursor: pointer;
    
                opacity: 1;
                transition: opacity 0.2s ease-in-out;
    
                user-select: none;
            }
    
            p:hover {
                opacity: 0.9;
            }
        }
    
    
        .signOut {
            @include flex();
            gap: 5px;
    
            margin: 0;
            padding: 0;
    
            margin-top: 20px;
    
            p:last-child {
                font-weight: 900;
        
                cursor: pointer;
        
                opacity: 1;
                transition: opacity 0.2s ease-in-out;
            }
        
            p:last-child:hover {
                opacity: 0.9;
            }
        }
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}
